html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #141416;
  }
}


*::-webkit-scrollbar {
  display: none;
}

/* Fonts */
/* regular italic */
@font-face {
  font-family: "EMprint";
  src: url('../fonts/EMprint/EMprint-RegularItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

/* bold */
@font-face {
  font-family: "EMprint";
  src: url('../fonts/EMprint/EMprint-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

/* bold italic */
@font-face {
  font-family: "EMprint";
  src: url('../fonts/EMprint/EMprint-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* semibold italic */
@font-face {
  font-family: "EMprint";
  src: url('../fonts/EMprint/EMprint-SemiboldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}