.main {
  min-height: 100vh;
  background-image: url('../public/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.upload__drop {
  z-index: 10;
  width: 500px;
  height: 500px;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(160.9deg, rgba(52, 205, 240, 0.05)5%, rgba(52, 205, 240, 0.25) 30.09%, rgba(52, 205, 240, 0.25) 70%, rgba(52, 205, 240, 0.05) 94.02%);
  border-radius: 50%;
  text-align: center;
  font-style: italic;
}

.margin__div, .icon__container, .switch {
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: -5px;
  width: 300px;
  font-family: 'EMprint';
  font-weight: bold;
}
.title, .text, .icon, .icon__container p {
  color: white;
  opacity: 0.9;
  text-shadow: -4px 4px 6px rgba(0, 0, 0, 0.7);
}
.icon {
  font-size: 100px !important;
}
.icon__image {
  width: 100px;
}

.icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon__container p {
  margin: auto;
  margin-left: 10px;
  font-family: 'EMprint';
  font-size: 80px;
  font-weight: bold;
}


/* switch */
/* Start button */
.start__button {
  padding: 10px 10px;
  background: #d5171f;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
}
.start__button:hover {
  transform: scale(1.1);
}
.start__button p {
  line-height: 20px;
  font-size: 20px;
  margin: auto;
}


/* <-------images-------> */
/* logo */
.logo__container {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100px;
}

/* image 1 */
.image__container1 {
    position: absolute;
    bottom: 40px;
    left: 30px;
}

/* image 2 */
.image__container2 {
    position: absolute;
    bottom: 40px;
    right: 30px;
}