.main {
  min-height: 100vh;
  overflow: hidden;
  background-image: url('../public/img/background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* outer circle */
.outer__circle, .outer__circle2 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: none;
    position: absolute;
    z-index: 0;
    border: 0.1rem solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
            0 0 .2rem #fff,
            inset 0 0 .2rem #fff,
            0 0 1rem #08f,
            inset 0 0 1rem #08f,
            0 0 1rem #08f,
            inset 0 0 1rem #08f
}
.ball {
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.25);
    filter: blur(10px);
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}


/* inner circle */
.circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(160.9deg, rgb(52 205 240 / 50%) 5%, rgb(9 34 149 / 37%) 30.09%, rgb(15 42 142 / 50%) 70%, rgb(62 204 222 / 50%) 94.02%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}


/* card */
.card__container {
    z-index: 10;
    width: 250px;
    height: 380px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 1rem #08f,
            inset 0 0 2rem #08f,
            0 0 1rem #08f,
            inset 0 0 2rem #08f;
    border-radius: 10px;
    text-align: center;
}
.winner__title, .name {
    font-family: "EMprint";
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 1rem #000;
    color: white;
}

.name, .folio, .folio2 {
    color: white;
    opacity: 0.4;
    text-shadow: -2px 2px 0.2rem #000;
}

.folio {
  font-family: "EMprint";
  font-size: 35px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: -10px;
}
.folio2 {
  font-family: "EMprint";
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}


/* actions container */
.actions__container {
    position: absolute;
    bottom: 10px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person__icon {
  font-size: 60px !important;
}
.person__icon, .icon__container p, .icon {
  color: rgba(245, 245, 245, 0.85);
}
.icon__container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 130px;
}

.icon__container p {
  margin: auto;
  margin-left: 5px;
  font-size: 50px;
  font-family: 'EMprint';
  font-weight: bold;
}

.icon {
    font-size: 40px;
}

.buttons {
  margin-left: 100px;
}
.icon__image {
  cursor: pointer;
  width: 35px;
  opacity: 0.85;
  transition: transform 450ms;
}
.icon__image:hover { 
  transform: scale(1.08);
}

/* <-------images-------> */
/* logo */
.logo__container {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100px;
}

/* image 1 */
.image__container1 {
    position: absolute;
    bottom: 10px;
    left: 0px;
    //width: 100px;
}

/* image 2 */
.image__container2 {
    position: absolute;
    bottom: 10px;
    right: 0px;
    //width: 100px;
}